.secondaryBannerRoot{
  background-color: white;;
}

.secondaryBanner{
  border: solid rgb(202, 202, 202) 1px;
  background-color: rgb(219, 219, 219);
}

.secondaryBanner > div {
  background-color: rgb(18, 117, 18);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  height: 6em;
}
