.mainBannerRoot{
  background-color: rgb(238, 238, 238);
  padding:2em;
  position: relative;
  overflow: hidden;
}


.mainBannerRoot .welcome{
  font-weight: 800;
  max-width: 10em;
  font-size: 3em;
  padding-bottom: 1rem;
}

.mainBannerContent .PFButton{
  pointer-events: auto;
}

.mainBannerContent{
  z-index: 1;
  pointer-events: none ;
}

.mainBannerRoot .sub{
  color: grey;
  max-width: 20em;
  padding-bottom: 1rem;
}

.mainBannerRoot .sub span{
  color: orange;
  font-weight: 700;
}



.card{
  width: fit-content;
  perspective: 1000px;
  justify-self: center;
  align-self: center;
}

.card *{
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card img{
  width: 94%;
  height: auto;
}

.card .back{
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(180deg) ;
}

.cardFlipper{
  transform: rotateY(0deg);
  transform-origin: 50% 50%;
  transition: 0.5s;
  width: 100%;
}

.card:hover .cardFlipper{
  transform: rotateY(180deg);
}

.cardDeck{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cardDeckOverlay{
  overflow: hidden;
  position: absolute;
  transform: translate(90%, -25%) rotate(30deg) scale(1.25);
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .cardDeckOverlay{
    transform: translate(120%, -0%) rotate(30deg) scale(2);
  }
}