@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* -------------  My css Stuff */
/* debug */
.debugRedLine              {outline: solid 3px rgba(255, 0, 0, 0.3);}

/* removing default spacings */
*                          {padding: 0;margin: 0;}

/* flex Classes */
.flex                      {display: flex; align-items: flex-start;}
.flexColumn                {flex-direction: column;}
/* justify */
.flexJustifyCenter         {justify-content: center;}
.flexJustifyStart          {justify-content: flex-start;}
.flexJustifyEnd            {justify-content: flex-end;}
.flexJustifyBetween        {justify-content: space-between;}
.flexJustifyAround         {justify-content: space-around;}
.flexJustifyEvenly         {justify-content: space-evenly;}
/* alignment */
.flexAlignCenter           {align-items: center;}
.flexAlignStart            {align-items: flex-start;}
.flexAlignEnd              {align-items: flex-end;}
.flexAlignStretch          {align-items: stretch;}
.flexAlignBaseline         {align-items: baseline;}
/* flex-grow */
.flexGrow                  {flex-grow: 1;}

/* sizing divs */
.fillWidth                 {width: 100%;}
.fillHeight                {height: 100%;}
.hugHeight                 {height: fit-content;}
.hugWidth                  {width: fit-content;}

/* spacings */
.padding                   {padding: 1em;}
.paddingHalf               {padding: 0.5em;}
.margin                    {margin: 1em;}

/* visibility */
.hide                      {display: none;}
.fadeOut                   {opacity: 0;}

/* layering over */
.overlay                   {position: absolute;top: 0;left: 0;}

/* create root container */
body, html {width: 100%; height: 100%;}
html{background-color: black;}

/* constraint width */
.constrainWidth{width: 100%; max-width: 800px;}

/* button */
.PFButton{
  border: none;
  border-radius: 3em;
  padding: 1em;
  font-weight: 700;
}


/* interactive hover */
.interactiveClickable{
  transition: 0.3s;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.interactiveClickable:hover{
  transform: scale(1.1);
}
.interactiveClickable:active{
  transform: scale(0.9);
}

/* fonts */
* {font-family: 'Work Sans', sans-serif;}


/* debug */
/* *{background-color: rgba(255, 0, 0, 0.1) !important;} */

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
}